body {
  font-family: "Poppins", serif;
  background-color: #C7C7C7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Formulario {
  background: #FAFAFA;
  padding: 45px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 370px;
  text-align: center;
}

.img-form {
  width: 180px;
  height: auto;
}

.titulo {
  font-size: 26px;
  color: #FF8326;
  margin: 0;
}

.discricao {
  color: #C5661E;
  margin: 0;
}

.sub-titulo {
  font-size: 22px;
  margin: 12px;
  color: #030303;
  text-transform: uppercase;
}

.label-form {
  display: block;
  text-align: left;
  font-size: 14px;
  margin: 5px;
  color: #C5661E;
}

.input-one {
  width: 90%;
  padding: 10px;
  border: 1px solid #C7C7C7;
  border-radius: 6px;
}

.input-check {
  margin-right: 5px;
}

.botao1 {
  width: 100%;
  padding: 12px;
  background: #FF8326;
  color: #030303;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
}

.botao1:hover {
  background: #C5661E;
}

/* Responsividade */
@media (max-width: 768px) {
  .Formulario {
      width: 80%;
      padding: 25px;
  }

  .img-form {
      width: 120px;
      height: auto;
  }

  .titulo {
      font-size: 22px;
  }

  .sub-titulo {
      font-size: 18px;
  }

  .botao1 {
      font-size: 14px;
      padding: 10px;
      width: 60%;
  }

}

@media (max-width: 480px) {
  .Formulario {
      width: 60%;
      padding: 15px;
  }

  .img-form {
      width: 120px;
      height: auto;
  }

  .titulo {
      font-size: 20px;
  }

  .sub-titulo {
      font-size: 16px;
  }

  .botao1 {
      font-size: 14px;
      width: 90%;
  }

}